@value breakpoints: "./breakpoint.css";
@value largest, small, medium from breakpoints;

.Btn {
  border-radius: 2px;
  border: none;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19);
  font-size: 1.6rem;
  cursor: pointer;
  font-family: sans-serif
}

.Btn_lg {
  height: 35px;
  min-width: 250px;
}

.Btn_sm {
  height: 35px;
  min-width: 80px;
}

.Btn_primary {
  background: var(--orange-blood);
  color: var(--white);
}

.ButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Link_btn {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: medium) {
  .Btn_lg {
    height: 30px;
    min-width: 200px;
  }
}

@media only screen and (max-width: small) {
  .Btn_lg {
    height: 25px;
    min-width: 150px;
  }
}
