@value breakpoints: "./breakpoint.css";
@value largest, small, medium from breakpoints;

.Btn {
  border-radius: 2px;
  border: none;
  box-shadow: 1px 4px 5px 0px var(--grey);
  font-size: 1.6rem;
  cursor: pointer;
}

.Btn_lg {
  height: 35px;
  min-width: 250px;
}

.Btn_primary {
  background: var(--orange-blood);
  color: var(--white);
}

@media only screen and (max-width: medium) {
  .Btn_lg {
    height: 30px;
    min-width: 200px;
  }
}

@media only screen and (max-width: small) {
  .Btn_lg {
    height: 25px;
    min-width: 150px;
  }
}
